.NeoFeatureLine {
	--NeoFeatureLine-sizing-gap: var(--neo-spacing-layout-md);
	--NeoFeatureLine-sizing-imageRatio: 4 / 3;
	--NeoFeatureLine-sizing-contentGap: var(--neo-gap-lg);
	--NeoFeatureLine-sizing-actionsGap: var(--neo-gap-md);
	--NeoFeatureLine-fontSize-body: var(--neo-fontSize-textLg);
	--NeoFeatureLine-lineHeight-body: var(--neo-lineHeight-relaxed);
}

.NeoFeatureLine--ratio-16-9 {
	--NeoFeatureLine-sizing-imageRatio: 16 / 9;
}

.NeoFeatureLine--ratio-1-1 {
	--NeoFeatureLine-sizing-imageRatio: 1 / 1;
}
