.NeoNavItem--small {
	--NeoNavItem-fontSize-value: var(--neo-fontSize-textSm);
	--NeoNavItem-fontSize-level1: var(--neo-fontSize-textSm);
	--NeoNavItem-fontSize-level2: var(--neo-fontSize-textXs);
	--NeoNavItem-fontSize-level3: var(--neo-fontSize-textXs);
	--NeoNavItem-sizing-paddingBlock: var(--neo-spacing-core-xs);
	--NeoNavItem-sizing-paddingInline: var(--neo-spacing-core-sm);
	--NeoNavItem-sizing-gap: var(--neo-gap-xs);
	--NeoNavItem-sizing-indent: var(--neo-spacing-core-md);
	--NeoNavItem-sizing-connectorOffset: var(--neo-spacing-core-sm);
}

.NeoNavItem--medium {
	--NeoNavItem-fontSize-value: var(--neo-fontSize-base);
	--NeoNavItem-fontSize-level1: var(--neo-fontSize-textSm);
	--NeoNavItem-fontSize-level2: var(--neo-fontSize-textSm);
	--NeoNavItem-fontSize-level3: var(--neo-fontSize-textXs);
	--NeoNavItem-sizing-paddingBlock: var(--neo-spacing-core-sm);
	--NeoNavItem-sizing-paddingInline: var(--neo-spacing-core-md);
	--NeoNavItem-sizing-gap: var(--neo-gap-sm);
	--NeoNavItem-sizing-indent: var(--neo-spacing-core-lg);
	--NeoNavItem-sizing-connectorOffset: var(--neo-spacing-core-md);
}

.NeoNavItem--large {
	--NeoNavItem-fontSize-value: var(--neo-fontSize-textLg);
	--NeoNavItem-fontSize-level1: var(--neo-fontSize-base);
	--NeoNavItem-fontSize-level2: var(--neo-fontSize-textSm);
	--NeoNavItem-fontSize-level3: var(--neo-fontSize-textSm);
	--NeoNavItem-sizing-paddingBlock: var(--neo-spacing-core-md);
	--NeoNavItem-sizing-paddingInline: var(--neo-spacing-core-lg);
	--NeoNavItem-sizing-gap: var(--neo-gap-md);
	--NeoNavItem-sizing-indent: var(--neo-spacing-core-xl);
	--NeoNavItem-sizing-connectorOffset: var(--neo-spacing-core-lg);
}

.NeoNavItem {
	--NeoNavItem-sizing-borderRadius: var(--neo-radius-sm);
	--NeoNavItem-sizing-connectorThickness: var(--neo-border-width);
}
