.NeoSelect {
	--NeoSelect-sizing-borderRadius: unset;
	--NeoSelect-sizing-borderWidth: var(--neo-border-width);
	--NeoSelect-fontSize-value: var(--neo-fontSize-base);
	--NeoSelect-sizing-gap: var(--neo-gap-xs);
	--NeoSelect-sizing-inline: var(--neo-sizing-input-height-md);
	--NeoSelect-fontSize-label: var(--neo-fontSize-textSm);
	--NeoSelect-sizing-padding: var(--neo-sizing-input-padding-md);
	--NeoSelect-sizing-paddingInline: var(--neo-spacing-core-md);
}

.NeoSelect--primary {
	--NeoSelect-sizing-borderWidth: var(--neo-border-width);
}

.NeoSelect--secondary {
	--NeoSelect-sizing-borderRadius: 0;
	--NeoSelect-sizing-borderWidth: 0 0 2px 0;
}

.NeoSelect--tertiary {
	--NeoSelect-sizing-borderWidth: var(--neo-border-width);
}

.NeoSelect--small {
	--NeoSelect-fontSize-value: var(--neo-fontSize-textSm);
	--NeoSelect-sizing-inline: var(--neo-sizing-input-height-sm);
	--NeoSelect-fontSize-label: var(--neo-fontSize-textSm);
	--NeoSelect-sizing-padding: var(--neo-sizing-input-padding-sm);
	--NeoSelect-sizing-paddingInline: var(--neo-spacing-core-sm);
}

.NeoSelect--medium {
	--NeoSelect-fontSize-value: var(--neo-fontSize-base);
	--NeoSelect-sizing-inline: var(--neo-sizing-input-height-md);
	--NeoSelect-fontSize-label: var(--neo-fontSize-textSm);
	--NeoSelect-sizing-padding: var(--neo-sizing-input-padding-md);
	--NeoSelect-sizing-paddingInline: var(--neo-spacing-core-md);
}

.NeoSelect--large {
	--NeoSelect-fontSize-value: var(--neo-fontSize-textLg);
	--NeoSelect-sizing-inline: var(--neo-sizing-input-height-lg);
	--NeoSelect-fontSize-label: var(--neo-fontSize-base);
	--NeoSelect-sizing-padding: var(--neo-sizing-input-padding-lg);
	--NeoSelect-sizing-paddingInline: var(--neo-spacing-core-lg);
}

.NeoSelect--rounded {
	--NeoSelect-sizing-borderRadius: var(--neo-border-input-radius);
}

.NeoSelect-options {
	--NeoSelect-sizing-optionsBorderRadius: var(--neo-radius-md);
	--NeoSelect-sizing-optionsMarginBlockStart: var(--neo-spacing-core-xs);
	--NeoSelect-sizing-optionsPaddingBlock: var(--neo-spacing-core-xs);
	--NeoSelect-sizing-optionItemGap: var(--neo-gap-sm);
	--NeoSelect-sizing-optionItemPaddingBlock: var(--neo-spacing-core-sm);
	--NeoSelect-sizing-optionItemPaddingInline: var(--neo-spacing-core-md);
	--NeoSelect-sizing-optionsShadowOffsetBlock: var(--neo-spacing-core-xs);
	--NeoSelect-sizing-optionsShadowBlur: var(--neo-spacing-core-md);
}

.NeoSelect-selectedTags {
	--NeoSelect-sizing-tagGap: var(--neo-gap-sm);
	--NeoSelect-sizing-tagPaddingBlock: var(--neo-spacing-core-xs);
	--NeoSelect-sizing-tagPaddingInline: var(--neo-spacing-core-sm);
}
