.NeoSelect--primary,
.NeoSelect--secondary {
	--NeoSelect-sizing-borderWidth: 1px;
}

.NeoSelect--tertiary {
	--NeoSelect-sizing-borderRadius: unset;
	--NeoSelect-sizing-borderWidth: 0;
}

.NeoSelect--small {
	--NeoSelect-sizing-padding: var(--neo-sizing-input-padding-sm);
	--NeoSelect-sizing-inline: var(--neo-sizing-input-height-sm);
	--NeoSelect-sizing-fontSize: var(--neo-fontSize-textSm);
}

.NeoSelect--medium {
	--NeoSelect-sizing-padding: var(--neo-sizing-input-padding-md);
	--NeoSelect-sizing-inline: var(--neo-sizing-input-height-md);
	--NeoSelect-sizing-fontSize: var(--neo-fontSize-base);
}

.NeoSelect--large {
	--NeoSelect-sizing-padding: var(--neo-sizing-input-padding-lg);
	--NeoSelect-sizing-inline: var(--neo-sizing-input-height-lg);
	--NeoSelect-sizing-fontSize: var(--neo-fontSize-textLg);
}

.NeoSelect--rounded {
	--NeoSelect-sizing-borderRadius: var(--neo-border-input-radius);
}
