.NeoProgressPanel {
	--NeoProgressPanel-sizing-imageWidth: 100px;
	--NeoProgressPanel-sizing-padding: var(--neo-spacing-core-md);
	--NeoProgressPanel-sizing-borderRadius: var(--neo-radius-xl);
	--NeoProgressPanel-sizing-titleClamp: 2;
}

.NeoProgressPanel--rounded {
	--NeoProgressPanel-sizing-borderRadius: var(--neo-radius-2xl);
}

.NeoProgressPanel-imageFallback {
	--NeoProgressPanel-sizing-imageFallbackPadding: var(--neo-spacing-core-xs);
}

.NeoProgressPanel-header {
	--NeoProgressPanel-sizing-headerGap: var(--neo-gap-xs);
}

.NeoProgressPanel-title {
	--NeoProgressPanel-fontSize-title: var(--neo-fontSize-textMd);
}

.NeoProgressPanel-subtitle {
	--NeoProgressPanel-fontSize-subtitle: var(--neo-fontSize-textSm);
}

.NeoProgressPanel-footer {
	--NeoProgressPanel-sizing-footerGap: var(--neo-gap-xs);
	--NeoProgressPanel-sizing-footerPaddingBlockStart: var(--neo-spacing-core-sm);
}

.NeoProgressPanel-progressRow {
	--NeoProgressPanel-sizing-progressRowGap: var(--neo-gap-sm);
}

.NeoProgressPanel-value {
	--NeoProgressPanel-fontSize-value: var(--neo-fontSize-textSm);
}

.NeoProgressPanel-valueLabel {
	--NeoProgressPanel-fontSize-valueLabel: var(--neo-fontSize-textSm);
}
