.NeoCheckbox--small {
	--NeoCheckbox-sizing-size: var(--neo-sizing-control-sm);
	--NeoCheckbox-fontSize-label: var(--neo-fontSize-textSm);
}

.NeoCheckbox--medium {
	--NeoCheckbox-sizing-size: var(--neo-sizing-control-md);
	--NeoCheckbox-fontSize-label: var(--neo-fontSize-base);
}

.NeoCheckbox--large {
	--NeoCheckbox-sizing-size: var(--neo-sizing-control-lg);
	--NeoCheckbox-fontSize-label: var(--neo-fontSize-textLg);
}

.NeoCheckbox {
	--NeoCheckbox-sizing-gap: var(--neo-gap-sm);
}

.NeoCheckbox-required {
	--NeoCheckbox-sizing-requiredMarginInlineStart: var(--neo-spacing-core-xs);
}
