.NeoCheckbox--small {
	--NeoCheckbox-sizing-size: 16px;
	--NeoCheckbox-sizing-labelFontSize: var(--neo-fontSize-textSm);
}

.NeoCheckbox--medium {
	--NeoCheckbox-sizing-size: 20px;
	--NeoCheckbox-sizing-labelFontSize: var(--neo-fontSize-base);
}

.NeoCheckbox--large {
	--NeoCheckbox-sizing-size: 24px;
	--NeoCheckbox-sizing-labelFontSize: var(--neo-fontSize-textLg);
}
