.NeoBadge--small {
	--NeoBadge-sizing-fontSize: var(--neo-fontSize-xs);
	--NeoBadge-sizing-padding: var(--neo-spacing-core-xs) var(--neo-spacing-core-sm);
	--NeoBadge-sizing-borderRadius: var(--neo-radius-md);
	--NeoBadge-sizing-dotSize: var(--neo-spacing-core-sm);
}

.NeoBadge--medium {
	--NeoBadge-sizing-fontSize: var(--neo-fontSize-textSm);
	--NeoBadge-sizing-padding: var(--neo-spacing-core-sm) var(--neo-spacing-core-md);
	--NeoBadge-sizing-borderRadius: var(--neo-radius-lg);
	--NeoBadge-sizing-dotSize: var(--neo-spacing-core-md);
}

.NeoBadge--large {
	--NeoBadge-sizing-fontSize: var(--neo-fontSize-base);
	--NeoBadge-sizing-padding: var(--neo-spacing-core-sm) var(--neo-spacing-core-lg);
	--NeoBadge-sizing-borderRadius: var(--neo-radius-xl);
	--NeoBadge-sizing-dotSize: var(--neo-spacing-core-lg);
}

.NeoBadge--solid {
	--NeoBadge-sizing-borderWidth: 0;
}

.NeoBadge--outlined {
	--NeoBadge-sizing-borderWidth: 1px;
}

.NeoBadge--dot {
	--NeoBadge-sizing-borderWidth: 0;
	--NeoBadge-sizing-borderRadius: 50%;
}

.NeoBadge--rounded {
	--NeoBadge-sizing-borderRadius: var(--neo-radius-full);
}
