.NeoHeadlineQuaternary {
	--NeoHeadlineQuaternary-sizing-fontSize: var(--neo-fontSize-headlineXs);
	--NeoHeadlineQuaternary-fontWeight-value: var(--neo-fontWeight-semibold);
	--NeoHeadlineQuaternary-lineHeight-value: var(--neo-lineHeight-snug);
}
