.NeoSpinner {
	--NeoSpinner-color-border: var(--neo-color-grey300);
	--NeoSpinner-color-active: var(--neo-theme-color);
	--NeoSpinner-color-label: var(--neo-theme-color);

	@mixin onDark {
		--NeoSpinner-color-border: var(--neo-color-shadow-whiteSubtle);
		--NeoSpinner-color-active: var(--neo-color-white);
		--NeoSpinner-color-label: var(--neo-theme-colorAccessible);
	}
}
