.NeoHeadlineSecondary {
	--NeoHeadlineSecondary-fontSize-value: var(--neo-fontSize-headlineMd);
	--NeoHeadlineSecondary-fontWeight-value: var(--neo-fontWeight-bold);
	--NeoHeadlineSecondary-lineHeight-value: var(--neo-lineHeight-tight);
}
