.NeoHeadlineSecondary {
	--NeoHeadlineSecondary-sizing-fontSize: var(--neo-fontSize-headlineMd);
	--NeoHeadlineSecondary-fontWeight-value: var(--neo-fontWeight-bold);
	--NeoHeadlineSecondary-lineHeight-value: var(--neo-lineHeight-tight);
}
