@define-mixin addScrollbar($rounded: 0) {
	overflow: auto;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--neo-color-shadow-2xs);
		@if $rounded == 1 {
			border-radius: 9999px;
		}
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--neo-color-grey-600);
		@if $rounded == 1 {
			border-radius: 9999px;
		}
	}

	@supports not selector(&::-webkit-scrollbar) {
		scrollbar-color: var(--neo-color-grey-600) var(--neo-color-shadow-2xs);
		scrollbar-width: thin;
	}

	@mixin onDark {
		&::-webkit-scrollbar-track {
			background-color: var(--neo-color-scrollbar-trackDark);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--neo-color-white);
		}
		@supports not selector(&::-webkit-scrollbar) {
			scrollbar-color: var(--neo-color-white) var(--neo-color-scrollbar-trackDark);
			scrollbar-width: thin;
		}
	}
}
