@define-mixin setOnDark {
	--neo-is-dark: 1;
	container: on-dark / normal;
}

@define-mixin unsetOnDark {
	--neo-is-dark: 0;
	container: on-dark / normal;
}

@define-mixin onDark {
	@container on-dark style(--neo-is-dark: 1) {
		@mixin-content;
	}
}

@define-mixin prefersDark {
	@media (prefers-color-scheme: dark) {
		@mixin-content;
	}
}

@define-mixin prefersLight {
	@media (prefers-color-scheme: light) {
		@mixin-content;
	}
}
