.NeoFeatureCard--clickable {
	--NeoFeatureCard-color-focus: var(--neo-theme-colorAccessible);
}

.NeoFeatureCard-category {
	--NeoFeatureCard-color-category: var(--neo-theme-colorAccessible);
}

.NeoFeatureCard-excerpt {
	--NeoFeatureCard-color-excerpt: currentcolor;

	@mixin onDark {
		--NeoFeatureCard-color-excerpt: currentcolor;
	}
}
