.NeoText {
	--NeoText-fontSize-value: var(--neo-fontSize-textMd);
	--NeoText-lineHeight-value: var(--neo-lineHeight-normal);
}

.NeoText--lead {
	--NeoText-fontSize-value: var(--neo-fontSize-textXl);
	--NeoText-lineHeight-value: var(--neo-lineHeight-relaxed);
}

.NeoText--small {
	--NeoText-fontSize-value: var(--neo-fontSize-textSm);
}

.NeoText--caption {
	--NeoText-fontSize-value: var(--neo-fontSize-textXs);
}

.NeoText--weight-medium {
	--NeoText-fontWeight-value: var(--neo-fontWeight-medium);
}

.NeoText--weight-semibold {
	--NeoText-fontWeight-value: var(--neo-fontWeight-semibold);
}

.NeoText--weight-bold {
	--NeoText-fontWeight-value: var(--neo-fontWeight-bold);
}
