.NeoTabs {
	--NeoTabs-sizing-filledListBorderRadius: var(--neo-radius-xl);
	--NeoTabs-sizing-filledListGap: 2px;
	--NeoTabs-sizing-filledListPadding: var(--neo-spacing-core-xs);
	--NeoTabs-sizing-filledTabBorderRadius: var(--neo-radius-lg);
	--NeoTabs-sizing-focusBorderRadius: var(--neo-radius-md);
	--NeoTabs-sizing-gap: var(--neo-gap-xs);
	--NeoTabs-sizing-overflowItemPaddingBlock: var(--neo-spacing-core-sm);
	--NeoTabs-sizing-overflowItemPaddingInline: var(--neo-spacing-core-md);
	--NeoTabs-sizing-pillsListPadding: var(--neo-spacing-core-xs);
	--NeoTabs-sizing-pillsTabBorderRadius: var(--neo-radius-full);
}

.NeoTabs--small {
	--NeoTabs-fontSize-value: var(--neo-fontSize-textXs);
	--NeoTabs-sizing-paddingBlock: var(--neo-spacing-core-xs);
	--NeoTabs-sizing-paddingInline: var(--neo-spacing-core-sm);
	--NeoTabs-sizing-panelPadding: var(--neo-spacing-core-sm);
}

.NeoTabs--medium {
	--NeoTabs-fontSize-value: var(--neo-fontSize-textSm);
	--NeoTabs-sizing-paddingBlock: var(--neo-spacing-core-sm);
	--NeoTabs-sizing-paddingInline: var(--neo-spacing-core-md);
	--NeoTabs-sizing-panelPadding: var(--neo-spacing-core-md);
}

.NeoTabs--large {
	--NeoTabs-fontSize-value: var(--neo-fontSize-textMd);
	--NeoTabs-sizing-paddingBlock: var(--neo-spacing-core-md);
	--NeoTabs-sizing-paddingInline: var(--neo-spacing-core-lg);
	--NeoTabs-sizing-panelPadding: var(--neo-spacing-core-lg);
}
