.NeoTable-wrapper {
	--NeoTable-fontSize-caption: var(--neo-fontSize-textSm);
	--NeoTable-sizing-captionPaddingBlockEnd: var(--neo-spacing-core-md);
	--NeoTable-sizing-cardCellGap: var(--neo-gap-sm);
	--NeoTable-sizing-cardCellPaddingBlock: var(--neo-spacing-core-xs);
	--NeoTable-sizing-cardRowBorderRadius: var(--neo-radius-xl);
	--NeoTable-sizing-cardRowHeaderMarginBlockEnd: var(--neo-spacing-core-xs);
	--NeoTable-sizing-cardRowMarginBlockEnd: var(--neo-spacing-core-md);
	--NeoTable-sizing-cardRowPadding: var(--neo-spacing-core-md);
	--NeoTable-fontSize-empty: var(--neo-fontSize-textSm);
	--NeoTable-sizing-emptyPaddingBlock: var(--neo-spacing-core-xl);
	--NeoTable-sizing-headerContentGap: var(--neo-gap-xs);
}

.NeoTable--compact {
	--NeoTable-sizing-cellPaddingBlock: var(--neo-spacing-core-xs);
	--NeoTable-sizing-cellPaddingInline: var(--neo-spacing-core-sm);
	--NeoTable-fontSize-value: var(--neo-fontSize-textXs);
}

.NeoTable--default {
	--NeoTable-sizing-cellPaddingBlock: var(--neo-spacing-core-sm);
	--NeoTable-sizing-cellPaddingInline: var(--neo-spacing-core-md);
	--NeoTable-fontSize-value: var(--neo-fontSize-textSm);
}

.NeoTable--spacious {
	--NeoTable-sizing-cellPaddingBlock: var(--neo-spacing-core-md);
	--NeoTable-sizing-cellPaddingInline: var(--neo-spacing-core-lg);
	--NeoTable-fontSize-value: var(--neo-fontSize-textMd);
}
