.NeoInput {
	--NeoInput-sizing-borderRadius: unset;
	--NeoInput-sizing-borderWidth: var(--neo-border-width);
	--NeoInput-sizing-fontSize: var(--neo-fontSize-base);
	--NeoInput-sizing-gap: var(--neo-gap-xs);
	--NeoInput-sizing-labelFontSize: var(--neo-fontSize-textSm);
	--NeoInput-sizing-minHeight: var(--neo-sizing-input-height-md);
	--NeoInput-sizing-padding: var(--neo-sizing-input-padding-md);
}

.NeoInput--primary {
	--NeoInput-sizing-borderWidth: var(--neo-border-width);
}

.NeoInput--secondary {
	--NeoInput-sizing-borderRadius: 0;
	--NeoInput-sizing-borderWidth: 0 0 2px 0;
}

.NeoInput--tertiary {
	--NeoInput-sizing-borderWidth: var(--neo-border-width);
}

.NeoInput--small {
	--NeoInput-sizing-padding: var(--neo-sizing-input-padding-sm);
	--NeoInput-sizing-minHeight: var(--neo-sizing-input-height-sm);
	--NeoInput-sizing-fontSize: var(--neo-fontSize-textSm);
	--NeoInput-sizing-labelFontSize: var(--neo-fontSize-textSm);
}

.NeoInput--medium {
	--NeoInput-sizing-padding: var(--neo-sizing-input-padding-md);
	--NeoInput-sizing-minHeight: var(--neo-sizing-input-height-md);
	--NeoInput-sizing-fontSize: var(--neo-fontSize-base);
	--NeoInput-sizing-labelFontSize: var(--neo-fontSize-textSm);
}

.NeoInput--large {
	--NeoInput-sizing-padding: var(--neo-sizing-input-padding-lg);
	--NeoInput-sizing-minHeight: var(--neo-sizing-input-height-lg);
	--NeoInput-sizing-fontSize: var(--neo-fontSize-textLg);
	--NeoInput-sizing-labelFontSize: var(--neo-fontSize-base);
}

.NeoInput--rounded {
	--NeoInput-sizing-borderRadius: var(--neo-border-input-radius);
}

.NeoInput-required {
	--NeoInput-sizing-requiredMarginInlineStart: var(--neo-spacing-core-xs);
}
