.NeoInput--primary,
.NeoInput--tertiary {
	--NeoInput-sizing-borderRadius: unset;
	--NeoInput-sizing-borderWidth: 0;
}

.NeoInput--secondary {
	--NeoInput-sizing-borderWidth: 1px;
}

.NeoInput--small {
	--NeoInput-sizing-padding: var(--neo-sizing-inputPaddingSM);
	--NeoInput-sizing-minHeight: var(--neo-sizing-inputBlockSM);
	--NeoInput-sizing-fontSize: var(--neo-fontSize-textSm);
	--NeoInput-sizing-labelFontSize: var(--neo-fontSize-textSm);
}

.NeoInput--medium {
	--NeoInput-sizing-padding: var(--neo-sizing-inputPaddingMD);
	--NeoInput-sizing-minHeight: var(--neo-sizing-inputBlockMD);
	--NeoInput-sizing-fontSize: var(--neo-fontSize-base);
	--NeoInput-sizing-labelFontSize: var(--neo-fontSize-textSm);
}

.NeoInput--large {
	--NeoInput-sizing-padding: var(--neo-sizing-inputPaddingLG);
	--NeoInput-sizing-minHeight: var(--neo-sizing-inputBlockLG);
	--NeoInput-sizing-fontSize: var(--neo-fontSize-textLg);
	--NeoInput-sizing-labelFontSize: var(--neo-fontSize-base);
}

.NeoInput--rounded {
	--NeoInput-sizing-borderRadius: var(--neo-border-inputRadius);
}
