.NeoHeadingGroup {
	--NeoHeadingGroup-sizing-gap: var(--neo-gap-sm);
}

.NeoHeadingGroup-overline {
	--NeoHeadingGroup-fontSize-overline: var(--neo-fontSize-textSm);
	--NeoHeadingGroup-fontWeight-overline: var(--neo-fontWeight-semibold);
}

.NeoHeadingGroup-subtitle {
	--NeoHeadingGroup-fontSize-subtitle: var(--neo-fontSize-textLg);
	--NeoHeadingGroup-lineHeight-subtitle: var(--neo-lineHeight-normal);
}
