.NeoHeadingGroup-overline {
	--NeoHeadingGroup-color-overline: var(--neo-theme-colorAccessible);
}

.NeoHeadingGroup-subtitle {
	--NeoHeadingGroup-color-subtitle: currentcolor;

	@mixin onDark {
		--NeoHeadingGroup-color-subtitle: currentcolor;
	}
}
