.NeoRadio--small {
	--NeoRadio-sizing-size: 16px;
	--NeoRadio-sizing-labelFontSize: var(--neo-fontSize-textSm);
}

.NeoRadio--medium {
	--NeoRadio-sizing-size: 20px;
	--NeoRadio-sizing-labelFontSize: var(--neo-fontSize-base);
}

.NeoRadio--large {
	--NeoRadio-sizing-size: 24px;
	--NeoRadio-sizing-labelFontSize: var(--neo-fontSize-textLg);
}
