.NeoRadio--small {
	--NeoRadio-sizing-size: var(--neo-sizing-control-sm);
	--NeoRadio-fontSize-label: var(--neo-fontSize-textSm);
}

.NeoRadio--medium {
	--NeoRadio-sizing-size: var(--neo-sizing-control-md);
	--NeoRadio-fontSize-label: var(--neo-fontSize-base);
}

.NeoRadio--large {
	--NeoRadio-sizing-size: var(--neo-sizing-control-lg);
	--NeoRadio-fontSize-label: var(--neo-fontSize-textLg);
}

.NeoRadio {
	--NeoRadio-sizing-gap: var(--neo-gap-sm);
}

.NeoRadio-required {
	--NeoRadio-sizing-requiredMarginInlineStart: var(--neo-spacing-core-xs);
}
