.NeoHeadlineTertiary {
	--NeoHeadlineTertiary-sizing-fontSize: var(--neo-fontSize-headlineSm);
	--NeoHeadlineTertiary-fontWeight-value: var(--neo-fontWeight-semibold);
	--NeoHeadlineTertiary-lineHeight-value: var(--neo-lineHeight-snug);
}
