.NeoHeadlinePrimary {
	--NeoHeadlinePrimary-fontSize-value: var(--neo-fontSize-headlineXl);
	--NeoHeadlinePrimary-fontWeight-value: var(--neo-fontWeight-bold);
	--NeoHeadlinePrimary-lineHeight-value: var(--neo-lineHeight-tight);
}
