.NeoSection {
	--NeoSection-sizing-columnGap: var(--neo-gap-md);
	--NeoSection-sizing-rowGap: 0;
	--NeoSection-sizing-inlinePadding: 0;
	--NeoSection-sizing-maxGlobalSize: var(--neo-spacing-max-global-size);
}
