.Button--small {
	--Button-sizing-padding: var(--neo-sizing-inputPaddingSM);
	--Button-sizing-inline: var(--neo-sizing-inputBlockSM);
}

.Button--medium {
	--Button-sizing-padding: var(--neo-sizing-inputPaddingMD);
	--Button-sizing-inline: var(--neo-sizing-inputBlockMD);
}

.Button--large {
	--Button-sizing-padding: var(--neo-sizing-inputPaddingLG);
	--Button-sizing-inline: var(--neo-sizing-inputBlockLG);
}

.Button--rounded {
	--Button-sizing-border: var(--neo-border-inputRadius);
}
