:root {
	/* Small */
	--neo-sizing-inputPaddingSM: 4px 8px;
	--neo-sizing-inputBlockSM: 32px;
	/* Medium */
	--neo-sizing-inputPaddingMD: 6px 12px;
	--neo-sizing-inputBlockMD: 36px;
	/* Large */
	--neo-sizing-inputPaddingLG: 8px 16px;
	--neo-sizing-inputBlockLG: 40px;

	/* Rounded */
	--neo-border-inputRadius: 4px;
}
