@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--neo-fontFamily-base: 'Inter', sans-serif;
	--neo-lineHeight-tight: 1.1;
	--neo-lineHeight-snug: 1.3;
	--neo-lineHeight-normal: 1.5;
	--neo-lineHeight-relaxed: 1.625;
	--neo-fontWeight-regular: 400;
	--neo-fontWeight-medium: 500;
	--neo-fontWeight-semibold: 600;
	--neo-fontWeight-bold: 700;

	font-family: var(--neo-fontFamily-base);
}
